<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Farm</title>
</head>

<body>
  <h1>Add a Farm</h1>
  <form action="/farms" method="POST">
    <label for="name"> Farm name:</label>
    <input type="text" placeholder="farm name" name="name" id='name'>

    <label for="city"> City name:</label>
    <input type="text" placeholder="enter city name" name='city' id='city'>

    <label for="email">Email:</label>
    <input type="email" placeholder="enter email" name='email' id='email'>

    <button type="submit">submit</button>
  </form>
</body>

</html>