<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <ul>
    <% for(const ridls of riddle){%>
      <li>
        <a href="/singlePost/<%=ridls.id%>">
          <b>
            <%=ridls.username%>
          </b>-<%=ridls.post%>
        </a>
        <a style="color:green;"
          href="/updateForm/<%=ridls.id%>/edit">edit</a>
      </li>
      <%}%>

  </ul>
</body>

</html>