<% layout('./layouts/boilerplate') %>
  <div class="rows my-4">
    <div class="col-6 offset-3">
      <div class="alert alert-danger text-center" role="alert">
       <h1 ><%=err.message %></h1>
      </div>
    </div>
  </div>