<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h1>home page</h1>
  <p>Lorem ipsum dolor sit <b>
      <%= 2+20%>
    </b> amet consectetur adipisicing elit. Aliquam voluptatum corporis enim repellendus
    beatae cum
    placeat possimus! Esse illo a vel sunt itaque, nam quisquam eaque, officia quis sit pariatur!</p>
</body>

</html>